@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
html, body{
    height:100%;
  width:100%;
  margin: 0px;
  }
body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

hr {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #042331 inset;
}

h1{
    padding: 60px 0px;
    color: #042331;
  text-transform: uppercase;
  font-size: 90px;
}

hr {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #042331 inset;
}

.contenedor {
    
    width: 90%;
    height:90%; 
    margin: 70px 0 0 0;	
    margin-left: 5%;
	display: grid;
   grid-gap: 20px;
   grid-template-columns: repeat(4, minmax(22%, 1fr));
   grid-auto-rows: 270px;
}

.contenido {	

	background:url(../img/29f70b01c911e741e4107d305735b0ca.jpg) no-repeat center center;	
	padding: 0px;	
	border: 1px solid rgb(204,153,102);	
}
.titulo {
  background-color: rgb(204,153,102);
	color: #FFE5CC;
  font-weight: 700; 
   font-style: normal;
	font-size: 1.2rem;		
	line-height: 100%;
	letter-spacing: 2px;
	text-align: center;	
	vertical-align: middle;
	height: 20%;	
	padding: 1%;
}



@media screen and (max-width:700px) {
	.contendor {		
   	grid-template-columns: repeat(3, minmax(22%, 1fr));
	}
}