@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
html, body{
    height:100%;
  width:100%;
  margin: 0px;
  }
body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

hr {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #042331 inset;
}

h1{
    padding: 60px 0px;
    color: #042331;
  text-transform: uppercase;
  font-size: 90px;
}

.main .articles {
    width: 60%;
    padding-top: 50px;
    float: left;
    background: white;
    margin-right: 1.5px;
    padding-left: 50px;
}

.main .articles articles{
    height: 60%;
    padding: 20px;
    background: white;
    margin-bottom: 20px;
}

aside{
    height: 60%;
    padding-top: 100px;
    width: 35%;
    float: left;
    box-sizing: border-box;
}   
 .aside{
     padding: 30px 0;
 }

 .aside i{
    padding-right: 100px;
    font-size: 20px;
    line-height: 20px;
}

input[type = "text"],.box input[type = "number"], input[type = "tel"]{
    font-family: 'Roboto', sans-serif;
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #042331;
    padding: 14px 10px;
    width: 300px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
  }

  textarea{
    font-family: 'Roboto', sans-serif;
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #042331;
    padding: 14px 10px;
    width: 500px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
  }

 input[type = "text"]:focus ,input[type = "date"]:focus,input[type = "tel"]:focus{
    width: 400px;
  }
  
  input[type = "submit"]{
    
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
  }

  input[type = "submit"]:hover{
    background: #2ecc71;
  }

  .aside{
      display: flex;
  }

  @media screen and (max-width: 1000px){
    aside{
        display: none;
    }
    textarea{
        
        width: 300px;
      }

  
  }
  