@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
html, body{
    height:100%;
    width:100%;
    margin: 0px;
  }
body {
  font-family: 'Roboto', sans-serif;
}
footer{
    width: 100%;
    height: 230px;
    background: #042331;
    text-align: center;
    position: relative;
    margin-top: -230px;
    clear: both;
}

.redes{
    padding-top: 50px;
}

.iconos{
    margin: 5px;
    display: inline-block;
    width: 55px;
    height: 55px;
    background: #ccc;
    border-radius: 30%;
    color: #042331;
    overflow: hidden;
}

.iconos i{
    line-height: 55px;
    font-size: 20px;
    transition: 0.2 linear;
}

.iconos:hover i{
    transform: scale(1.3);
}

.iconos:focus{
    outline: none;
}

.copy{
    color: #ccc;
    padding-top: 20px;
}