@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
html, body{
    height:100%;
  width:100%;
  margin: 0px;
  }
body {
  font-family: 'Roboto', sans-serif;
}

.contenedor{
    width: 100%;
    height: 100%;
    background-size: cover;
    transition: all .5s;
}

.mujer{
    float: left;
    width: 50%;
    height: 100%;
    background: url(../img/mujer.jpg);
    background-size: cover;
    background-position: center;
    transition: all .5s;
}

.women:hover ~ .mujer{
    width: 60%;
}

.women:hover ~ .hombre{
    width: 40%;
}

.men:hover ~ .mujer{
    width: 40%;
}

.men:hover ~ .hombre{
    width: 60%;
}

.hombre{
    float: left;
    width: 50%;
    height: 100%;
    background: url(../img/hombre.jpg);
    background-size: cover;
    background-position: center;
    transition: all .5s;
}

a.women{
    font-family: 'Roboto', sans-serif;
    height: 80px;
    width: 240px;
    color: #042331;
    position: absolute;
    left: 25%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: none;
    border: 2px solid #042331;
    font-size: large;
    border-radius: 4px;
    transition: .6s;
    overflow: hidden;
    text-align: center;
    line-height: 80px;
}

a.women:hover {
    height: 90px;
    width: 260px;
    color: #ccc;
    background: #042331;
    cursor: pointer;
    line-height: 90px;
  }

a.women:focus{
    outline: none;
}

a.men{
    font-family: 'Roboto', sans-serif;
    height: 80px;
    width: 240px;
    color: #042331;
    position: absolute;
    left: 75%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: none;
    border: 2px solid #042331;
    font-size: large;
    border-radius: 4px;
    transition: .6s;
    overflow: hidden;
    text-align: center;
    line-height: 80px;
}

a.men:hover {
    
    height: 90px;
    width: 260px;
    color: #ccc;
    background: #042331;;
    cursor: pointer;
    line-height: 90px;
  }

a.men:focus{
    outline: none;
}

/*

all
Apto para todos los dispositivos.
print
Destinado a material impreso y visualización de documentos 
en una pantalla en el modo de vista previa de impresión. 
screen
Destinado principalmente a las pantallas.
speech
Destinado a sintetizadores de voz.

*/

/*dentro de los parentisis va la condicion
cuando se cumpla entonces aplica las reglas que tiene definidas*/

@media screen and (max-width: 400px){
  a.men{
    height: 60px;
    width: 150px;
    line-height: 60px;
  }

  a.women{
    height: 60px;
    width: 150px;
    line-height: 60px;
  }

}

@media screen and (min-width: 401px) and (min-width: 899px){
  a.men{
    height: 60px;
    width: 150px;
    line-height: 60px;
  }

  a.women{
    height: 60px;
    width: 150px;
    line-height: 60px;
  }
}

@media screen and (min-width: 900px){
  a.men{
    height: 60px;
    width: 150px;
    line-height: 60px;
  }
  a.women{
    height: 60px;
    width: 150px;
    line-height: 60px;
  }
}
