@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
html, body{
    height:100%;
    width:100%;
    margin: 0;
    padding: 0;
  }
body {
  font-family: 'Roboto', sans-serif;
  background: url(../img/Paige_Tiziani_model_women_monochrome_white_background_no_pants-305143.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.box{
    width: 35%;
    height: 30%;
    position: absolute;
    left: 10%;  
    top: 5%;
    font-size: large;
    text-align: center;
}

.box h1{
  color: #042331;
  text-transform: uppercase;
  font-family: 500;
}

.box input[type = "text"], .box select ,.box input[type = "date"],.box input[type = "number"], input[type = "email"], input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #042331;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
}


.box select{
  width: 223px;
}

.box select:focus{
  width: 280px;
}

.box input[type = "text"]:focus ,.box input[type = "date"]:focus,.box input[type = "number"]:focus,input[type = "email"]:focus{
  width: 280px;
}

input[type = "submit"]{
  
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

#registrarse2, #login2{
  position: absolute;
  top: 2%;
  left: 2%;
  border:0;
  background: none;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 12px 10px;
  width: 150px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
}



#registrarse2:hover, #login2:hover{
  background: #2ecc71;
}

input[type = "submit"]:hover{
  background: #2ecc71;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.box input:focus:invalid {
  border-color: red;
}

.registro{
  display: none;
}

.log{
  width: 35%;
  height: 30%;
  position: absolute;
  left: 10%;  
  top: 30%;
  font-size: large;
  text-align: center;
}

#check{
  display: none;
}

#login2{
  display: none;
}

#check:checked ~ .inicio{
  display: none;
}

#check:checked ~ .registro{
  display: block;
}

#check:checked ~ #registrarse2{
  display: none;
}

#check:checked ~ #login2{
  display: block;
}

@media screen and (max-width: 400px){
  #registrarse2{
    left: 60%;
  }
  #login2{
    left: 60%;
  }
}

@media screen and (min-width: 401px) and (max-width: 1000px){
  #registrarse2{
    left: 60%;
  }
  #login2{
    left: 60%;
  }
}

@media screen and (min-width: 900px){
  
}