@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
html, body{
    height:100%;
  width:100%;
  margin: 0px;
  }
body {
  font-family: 'Roboto', sans-serif;
}
.titulo{
    background: #042331;
    height: 400px;
    width: 80%;
    margin: 0px 10% 0 10%;
    text-align: center;
    line-height: 400px;
}

h1{
    font-size: 60px;
    color: white;
}

h2{
    padding: 60px 0px;
    color: #042331;
  text-transform: uppercase;
  font-size: 50px;
}

.historia{
    font-size: 20px;
    margin-top: 60px;
    width: 40%;
    margin-left: 30%;
    color: #042331;
    line-height: 40px;
}

.maquinas{
    margin-right: 20px;
    float: left;
    height: 350px;
    width: 530px;
}

.trabajo{
    width: 80%;
    font-size: 18px;
    line-height: 32px;
    color: #042331;
    float: left;
    margin: 20px 10% 70px 10% ;
}

.tabla{
    width: 100%;
    float: left;
}

.ultimo{
    margin: 0 20%;
}

caption{
    background: #042331;
    font-size: 20px;
    padding: 20px 0 20px 0;
}

table{
    background:  #042331;
    width: 100%;
    color: white;
    margin-bottom: 80px;
}

table th, table tr, table td{
    padding: 10px 0 10px 0;
    text-align: center;
}

table td, table th{
    border-bottom: 1px solid white;
    padding: 15px 0 15px 0;
}

.contenedor{
    width: 100%;
    height: 100%;
    margin-bottom: 260px;
    text-align: center;
}

@media screen and (max-width: 400px){
    .trabajo{
        margin: 0;
    }
    .maquinas{
        margin-right: 0;
        height: 250px;
        width: 100%;
    }

    .historia{
        width: 60%;
        margin-left: 20%;
    }
  }
  
  @media screen and (min-width: 401px) and (max-width: 899px){
    .trabajo{
        margin-left: 50px;
    }
    .maquinas{
        margin-right: 0;
        height: 250px;
        width: 100%;
    }

    .historia{
        width: 60%;
        margin-left: 20%;
    }
  }
  
  @media screen and (min-width: 900px){
    
  }