@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');
*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
html, body{
    height:100%;
    width:100%;
    margin: 0px;
  }
body {
  font-family: 'Roboto', sans-serif;
}

.contenedor{
    width: 90%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px 5%;
    margin-bottom: 300px;
}

.producto{
    float: left;
    width: 510px;
    padding: 10px;
    margin: 10px 15px 10px 15px;
    height: 560px;
    transition: 0.5s;
    background: url(../img/Polo_CLFN_Blanco_AZ8128_01_laydown.jpg) no-repeat center center ;
}

p{
    margin-left: 10px;
    position: relative;
    z-index: 100;
    padding-bottom: 15px;
    padding-top: 500px;
}

.producto{
    display: block;
    margin: auto;
    transition: 0.5s;
    margin-bottom: 20px;
}

a.btn{
    font-family: 'Roboto', sans-serif;
    height: 30px;
    width: 100px;
    color: #042331;
    position: absolute;
    margin-left: 195px;
    background: none;
    border: 2px solid #042331;
    font-size: large;
    border-radius: 4px;
    transition: 0.5s;
    overflow: hidden;
    text-align: center;
    line-height: 30px;
    
}

a.btn:hover {
    color: #ccc;
    background: #042331;
    
  }

a.btn:focus{
    outline: none;
}



.producto:hover{
    transform: scale(1.1);
}

h2{
    color: #042331;
    text-transform: uppercase;
    font-size: 100px;
    margin-top: 0px;
    padding-top: 30px;
    margin-bottom: 30px;
  }

.slider {
    height: 600px;
    width: 1300px;
    margin: auto;
    overflow: hidden;
    transition: 0.5s;
    
}

.store{
    line-height: 560px;
}
.slider ul{
    display: flex;
    padding: 0;
    width: 300%;
    animation: imagenes 20s infinite alternate linear;
}
.slider li{
    width: 100%;
    list-style: none;
}
.slider img{
    width: 100%;
    transition: 04s all;
    
}

.oferta{
    text-align: center;
}

@keyframes imagenes{
    0%{margin-left: 0;}
    30%{margin-left: 0;}
    /*20 x .02  = 4 segundos dura la imagen*/
    /*tiempo de la transicion de una imagen a otra*/
    35%{margin-left: -100%;}
    65%{margin-left: -100%;}
    
    /*5% es 1 segundo */
    
    70%{margin-left: -200%;}
    100%{margin-left: -200%;}

}

@media screen and (max-width: 1200px){
    .slider {
        height: 200px;
        width: 400px;
        padding-bottom: 0;
    }

    .producto{
        width: 440px;
        padding-left: 0;
        margin-left: 0;
    }
    .contenedor{
        grid-template-columns: 1fr;
        padding-left: 0px;
    }
  }
  
  @media screen and (min-width: 1201px) and (max-width: 1700px){
    .slider {
        height: 400px;
        width: 640px;
    }

    .contenedor{
        grid-template-columns: 1fr 1fr;
        
    }
  }

  
  